@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@font-face {
  font-family: "Power Grotesk";
  src: url("../fonts/PowerGroteskTrial-Black.otf");
  src: url("../fonts/PowerGroteskTrial-Black.otf") format("embedded-opentype"),
    url("../fonts/PowerGroteskTrial-Black.otf") format("truetype");
  font-weight: bolder;
}
@font-face {
  font-family: "Power Grotesk";
  src: url("../fonts/PowerGroteskTrial-Bold.otf");
  src: url("../fonts/PowerGroteskTrial-Bold.otf") format("embedded-opentype"),
    url("../fonts/PowerGroteskTrial-Bold.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Power Grotesk";
  src: url("../fonts/PowerGroteskTrial-Medium.otf");
  src: url("../fonts/PowerGroteskTrial-Medium.otf") format("embedded-opentype"),
    url("../fonts/PowerGroteskTrial-Medium.otf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Power Grotesk";
  src: url("../fonts/PowerGroteskTrial-Regular.otf");
  src: url("../fonts/PowerGroteskTrial-Regular.otf") format("embedded-opentype"),
    url("../fonts/PowerGroteskTrial-Regular.otf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Power Grotesk";
  src: url("../fonts/PowerGroteskTrial-Light.otf");
  src: url("../fonts/PowerGroteskTrial-Light.otf") format("embedded-opentype"),
    url("../fonts/PowerGroteskTrial-Light.otf") format("truetype");
  font-weight: lighter;
}

:root {
  /* --primary-color: #150A41; */
  --text-color: #6f6f6f;
  --nunito: "Nunito Sans", sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  color: #6f6f6f;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  /* z-index: 20 */
}

input {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Power Grotesk;
}

.global_btn {
  color: #0C0C0C;
  border: 1px solid #0C0C0C;
  padding: 10px 20px;
  border-radius: 32px;
  min-width: 8rem;
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
}

.come-down {
animation: come-down .5s ease-in-out;
-webkit-animation: come-down .5s ease-in-out;
}

@keyframes come-down {
0% {
  opacity: 0;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}
  100% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}
}